@font-face {
  font-family: 'atlantic_cruiserus_by_lyajkRg';
  src: url('/fonts/10858-webfont.eot');
  src: url('/fonts/10858-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/10858-webfont.woff2') format('woff2'),
  url('/fonts/10858-webfont.woff') format('woff'),
  url('/fonts/10858-webfont.ttf') format('truetype'),
  url('/fonts/10858-webfont.svg#atlantic_cruiserus_by_lyajkRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blambot_casual';
  src: url('/fonts/v_blambotcasual_v1.0-webfont.eot');
  src: url('/fonts/v_blambotcasual_v1.0-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/v_blambotcasual_v1.0-webfont.woff2') format('woff2'),
  url('/fonts/v_blambotcasual_v1.0-webfont.woff') format('woff'),
  url('/fonts/v_blambotcasual_v1.0-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$linkColour: #83AF9B;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: 850px;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  font-family: sans-serif;
}

a:link,
a:active,
a:visited {
  color: $linkColour;
  text-decoration: none;
  position: relative;

  &:before {
    background-color: $linkColour;
    content: '';
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    transition: all 0.3s;
  }
  &:hover {
    &:before {
      left: 0;
      right: 0;
    }
  }
}

.pretty input:checked ~ .state.p-maremir label:after, .pretty.p-toggle .state.p-maremir label:after {
  background-color: #83AF9B !important;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1000px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 25px;
}

.blurred {
  filter: blur(8px);
}

.App h1, h2, h3 {
  font-family: 'atlantic_cruiserus_by_lyajkRg', sans-serif;
  letter-spacing: 0.08em;
  line-height: 1em;
  font-weight: normal;
}

.App-header {
  background-image: url('/images/header3.png');
  background-size: contain;
  height: 266px;
  width: 850px;
  margin: 0 auto;
}

#root, #root > div {
  width: 100%;
  height: 100%;
}

.pollAnswers {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

label {
  cursor: pointer;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-family: 'atlantic_cruiserus_by_lyajkRg', sans-serif;
  color: #fff !important;
  font-size: 20px;
  background: #83AF9B;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  letter-spacing: 0.08em;
}

.btn:hover {
  background: #94c6af;
}

.btn:disabled, .btn:disabled:hover {
  background: #ccc;
  cursor: not-allowed;
  -webkit-animation: none;
  animation: none;
}

.row {
  display: flex;
  width: 100%;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

.col-90 {
  width: 90%;
}

.col-100 {
  width: 100%;
}

.loader {
  font-family: 'atlantic_cruiserus_by_lyajkRg', sans-serif;
  font-size: 20px;
  color: #aaaa85;
}

.film-list {
  list-style: none;
  padding-left: 0;
}

.film-list li {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.film-list li:last-of-type {
  border-bottom: none;
}

.center-all {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.menu li a {
  font-family: 'atlantic_cruiserus_by_lyajkRg', sans-serif;
  font-size: 25px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.menu li a.active {
  color: #000;
}

.markdown {
  text-align: left;
}

.alert-info {
  border-radius: 6px;
  border: 1px solid #bee5eb;
  padding: .75rem 1.25rem;
  background: #d1ecf1;
  color: #0c5460;
}

.lightbox-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

.lightbox-container img {
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.remove-achievement {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}

.btn-danger {
  background: #f44336;
}

.btn-danger:hover {
  background: #f46653;
}

.achievements-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  justify-items: center;
}

.achievements-container div img {
  display: block;
}

.achievements-container div {
  text-align: center;
}

.popup-container {
  max-width: 100vw;
  max-height: 100vh;
  padding: 20px 20px;
  margin: 20px;
  overflow: auto;
}

.preloader {
  perspective: 600px;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  transform-style: preserve-3d;
  perspective-origin: 50% 50%;
  width: 106px;
  margin: auto;
  background: url('/images/loader.png');
  height: 186px;
}
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
