.links-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

  a {
    border: 1px solid #ccc;
    margin: 0 10px;
    border-radius: 6px;
    padding: 10px;
    max-width: 20%;
    text-decoration: none;

    &:hover {
      background: #fcfcfc;
      color: #aaaa85;
    }

    img {
      width: 128px;
    }

    span {
      display: block;
    }
  }
}
