.poll-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;

  .counter {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'atlantic_cruiserus_by_lyajkRg', sans-serif;
    font-size: 40px;
  }

  img {
    margin-bottom: 15px;
    width: 75%;
  }

  .pretty {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
}
