.mm-table-filter {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

.mm-table {
  margin-top: 10px;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;

  thead {
    font-weight: bold;
    cursor: pointer;
    background: #e1f7f1;

    th {
      padding: 10px 5px;

      &:hover {
        background: #d4eae4;
      }

      &.desc::after {
        content: ' ▼';
      }

      &.asc::after {
        content: ' ▲';
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &:nth-child(odd) {
        background: #f4fffd;
      }

      &:hover {
        background: #eaf5f3;
      }

      td {
        padding: 5px;
      }
    }
  }
}
