.Cinema {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .vjs-player {
    height: 100vh;
    flex: 1;
    background: #000
  }

  .back-button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: white;
    opacity: 0.1;
    transition: all 0.5s;
    z-index: 9999;
    left: 0;
    top: 0;
    border-radius: 0 0 5px 0;

    &:hover {
      opacity: 1;
    }
  }

  .sidebar {
    height: 100%;
    width: 20%;
    transition: all 0.5s;
    position: relative;

    &.hidden {
      width: 1px;

      .toggle:after {
        content: "<";
      }
    }

    .toggle {
      @extend .back-button;
      width: 50px;
      left: -50px;
      border-radius: 0 0 0 5px;

      &:after {
        content: ">";
      }
    }
  }

  .current-users {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
  }
}
